.controls {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
  max-height: 75px;

}

.button-container {
  display:flex;
  width: 100%;
  justify-content: space-evenly;
}

.button-container .buttons {
  padding: 1px 12px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  border:1px solid silver;
  color:rgb(41, 1, 1)
}

.buttons:hover {
  transition: all 0.1s ease-in;
  border: 1px solid green;
  color:green;
}

.buttons:first-child:hover {
  transition: all 0.1s ease-in;
  border: 1px solid orange;
  color:orange
}

.remove {
  font-weight: 700;
  background-color: white;
  color:black;
  outline:none;
  border:1px solid silver;
  border-radius: 20px;
  padding: 8px 12px;
}

.remove:hover {
  transition: border 0.1s ease-in;
  border: 1px solid rgb(0, 0, 0);
}

.quantity {
  font-size: 16px;
  margin:0;
}